<!DOCTYPE html>
<html>
<head>
  <title>Exam20472519</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application", "rails.validations" %>

  <%= csrf_meta_tags %>

</head>
<body>

<%= yield %>

</body>
</html>
